.display1{
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    font-family:Canadara ;
}
body{
    background-color:rgba(69, 67, 67, 0.496);
    font-size: 20px;
}
.red{
    font-family: monospace;
}   
.techstack{
    display: flex;
    height:auto;
    width:auto;
    flex-direction: column;
}
.lang{
    display: flex;
    flex-direction: row;
    margin-left: 150px; 
}
.skills{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    /* background:turquoise; */
    padding-left: 100px;
}
.center {
    display: block;
    margin-top:0%;
    margin-left:50%;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

img{
    height: 70px;
    width: 70px;
    margin-top: 20px;
}
h3{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 10px;
}
