body{
    margin: -10px;
}
.container0{
    height: 100vh;
    width: auto;
}
.resume{
    height: 100px;
    width: auto;
    background: rgb(216, 176, 102);
}
.intro{
    height: 600px;
    width: auto;
    background: rgb(227, 106, 106);
}
.about{
    height: 700px;
    width: auto;
    background: rgb(217, 227, 106);
}
.techstack{
    height: 700px;
    width: auto;
    background: rgb(106, 227, 203);
}
.edu{
    height: 400px;
    width: auto;
    background: rgb(70, 106, 223);
}
.exp{
    height: 400px;
    width: auto;
    background: rgb(170, 106, 227);
}
.project{
    height: 400px;
    width: auto;
    background: rgb(129, 166, 236);
}
.contact{
    height: 300px;
    width: auto;
    background: rgb(227, 106, 134);
}