body{
    background-color: aliceblue;
}
.display1{
    margin-left: 10%;
    margin-right: 10%;
}
.container0{
    font-family: sans-serif;
    height: 100vh;
    width: auto;
}
.resume{
    height: 100px;
    width: auto;
    
}
.intro{
    height: 600px;
    width: auto;
    /* background: rgb(129, 197, 250); */
    padding-top: 10%;
    margin-top: 0%;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    font-size: 20px;
    padding-right: 400px; 
}
.center {
    width: 400px;
    height: 400px;
    border-radius: 50%;
   
}
.about{
    height: 500px;
    width: auto;
    /* background: rgb(217, 227, 106); */
}
.techstack{
    display: flex;
    height:auto;
    width: auto;
    flex-direction: column;
    padding-bottom: 10%;
    /* background: rgb(106, 227, 203); */
}
.skills{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}
.lang{
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-left: 50px; 
}
h3{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 50px;
}
img{
    height: 70px;
    width: 70px;
    margin: 20px;
}
.edu{
    height: 400px;
    width: auto;
    /* background: rgb(70, 106, 223); */
}
.exp{
    height: 400px;
    width: auto;
    /* background: rgb(170, 106, 227); */
}
.project{
    height: 400px;
    width: auto;
    /* background: rgb(129, 166, 236); */
}
.contact{
    height: 300px;
    /* width: auto;
    /* background: rgb(227, 106, 134); */ */
}
.img1{
    height: 30px;
    width: 30px;
}